.search{
    border: none;
}
.Dropdown{
    font-style: italic;
}
.nav-item{
    background-color: #3323;
}
.damini{
    position: fixed;
    top: 15%;
    padding-left: }
    #ky{
        font-size: 3px;
        margin-left: 30rem;
    }